@using HRMS_Web.Models
@model List<LeaveRequestModel>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="nav-link active" asp-area="" asp-controller="LeaveManagement" asp-action="Index">Home</a>
        <a class="nav-link active" asp-area="" asp-controller="LeaveManagement" asp-action="Reports">Reports</a>
        <a class="nav-link active" asp-area="" asp-controller="LeaveManagement" asp-action="ViewLeaveHistory">View Leave History</a>
        <a class="nav-link active" asp-area="" asp-controller="LeaveManagement" asp-action="LeaveRequest">Requested Leaves</a>
    </div>
</nav>

@{
    ViewBag.Title = "Requested Leaves";
}

<h2 class="text-primary">Requested Leaves</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Leave Type</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">No of Days</th>
            <th scope="col">Reason</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var leave in Model)
        {
            <tr class="table-active">
                <td>@leave.LeaveManagement.LeaveType</td>
                <td>@leave.FromDate.ToShortDateString()</td>
                <td>@leave.ToDate.ToShortDateString()</td>
                <td>@leave.NumberOfDays</td>
                <td>@leave.LeaveReason</td>
                <td>
                    <a asp-action="ApproveRequest" asp-route-id="@leave.RequestId" class="btn btn-success">Approve</a>
                    <a asp-action="DeclineRequest" asp-route-id="@leave.RequestId" class="btn btn-danger">Decline</a>
                </td>
            </tr>
        }
    </tbody>
</table>
