@* @model HRMS_Web.Models.Projects

 @using HRMS_Web.ViewModel; *@

 @using HRMS_Web.Models;

 @model IEnumerable<HRMS_Web.Models.Projects>

@{
    ViewData["Title"] = "Assign Projects";
}




<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment Section</title>
    <link href="https://bootswatch.com/5/lux/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <style>
        body {
            background-color: #f8f9fa;
        }

        .assignment-details {
            display: none;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="nav-link active" asp-area="" asp-controller="Performance" asp-action="Index">Home</a>
            <a class="nav-link active" asp-area="" asp-controller="Performance" asp-action="Projects">Projects</a>
            <a class="nav-link active" asp-area="" asp-controller="Performance" asp-action="Tasks">Tasks</a>
            <a class="nav-link active" asp-area="" asp-controller="Performance" asp-action="ViewHistory">Reports </a>
            <a class="nav-link active" asp-area="" asp-controller="Performance" asp-action="Assign">Assign</a>
        </div>
    </nav>

    @* <div class="row pt-4 pb-5">
    <div class="col-6">
    <h3 class="text-dark text-capitalize">Current Project Assignments</h3>
    </div>
    <div class="col-6 d-flex justify-content-end">
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#createProjectModal">
    <i class="bi bi-plus-circle"></i> Create Project
    </button>
    </div>
    </div> *@

    <div class="row pt-4  pb-5">
        <div class="col-6">
            <h2 class="text-primary">Current Project Assignments</h2>
        </div>
        <div class="col-6" text-end>
            <a asp-controller="Performance" asp-action="CreateProject" class="btn btn-info">
                <i class="bi bi-plus-circle"></i>  Create Project
            </a>
        </div>
    </div>




    <table class="table table-striped">
        <thead>
            <tr>

                <th>Project Name</th>
                <th>Project Leader</th>
                <th>Deadline</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var projects in Model)
            {
                <tr>
                    <td>@projects.Project_Name</td>
                    <td>@projects.Project_Manager</td>
                    <td>@projects.EndDate.ToString("yyyy-MM-dd")</td>
                    <td>@projects.P_Priority</td>
                    <td>@projects.P_Status</td>
                    <td>
                        <a asp-controller="Performance" asp-action="Edit" asp-route-id="@projects.ProjectID" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>Edit
                        </a>
                        <a asp-controller="Performance" asp-action="Delete" asp-route-id="@projects.ProjectID" class="btn btn-danger mx-2">
                            <i class="bi bi-trash-fill"></i>Delete
                        </a>
                    </td>

                </tr>
            }

        </tbody>
    </table>




</body>
</html>
