@using HRMS_Web.Models
@model List<ApplicationUser>

<div class="container">
    <div class="row pt-4 pb-23">
        
        <div class="col-6 text-end me-3">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary" id="register">
                <i class="bi bi-person-add"></i> Add New Employee
            </a>
        </div>
    </div>

   
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-info">Employee List</h3>
        </div> 

        <div class="card-body">
            <table id="example1" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
                <th>
                    Email
                </th>
            <th>
                Address
            </th>
                <th>
                    DOB
                </th>
                <th>
                    JoinDate
                </th>
                <th>
                    MobileNo
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
       
                @* <th>
                    Role
                </th> *@
                </tr>
        </thead>
        
     
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td> @obj.FirstName </td>
                    <td> @obj.LastName </td>
                    <td> @obj.Email </td>
                    <td> @obj.Address </td>
                    <td> @obj.DOB </td>
                    <td> @obj.join_date </td>
                    <td> @obj.PhoneNumber </td>
                    <td>
                        @* <div class="w-55 btn-group" role="group"> *@
                                <a asp-controller="EmployeeManagement" asp-action="Edit" asp-route-Id="@obj.Id" class="btn-sm btn btn-success">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                            
                    </td>
                    <td>
                                <a asp-controller="EmployeeManagement" asp-action="Delete" asp-route-Id="@obj.Id" class="btn-sm btn btn-danger mx-4">
                            <i class="fa fa-trash"> </i> Delete
                        </a>
                    </td>



                </tr>
            }
        </tbody>
    </table>
</div>
</div>
</div>
