@using HRMS_Web.Models
@model List<ApplicationUser>

<div class="container">
    <div class="row pt-4 pb-23">
        <div class="col-6">
            <h2 class="text-primary">
                Employee Management
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary" id="register">
                <i class="bi bi-person-add"></i> Add New Employee
            </a>
        </div>
    </div>

    <h1> Employee List</h1>
    <table class="table table-bordered table-striped"> 
        <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
                <th>
                    Email
                </th>
            <th>
                Address
            </th>
                <th>
                    DOB
                </th>
                <th>
                    JoinDate
                </th>
                <th>
                    MobileNo
                </th>
       
                @* <th>
                    Role
                </th> *@
                </tr>
        </thead>
        
     
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td> @obj.FirstName </td>
                    <td> @obj.LastName </td>
                    <td> @obj.EmailConfirmed </td>
                    <td> @obj.Address </td>
                    <td> @obj.DOB </td>
                    <td> @obj.join_date </td>
                    <td> @obj.PhoneNumber </td>
                    <td>
                        <div class="w-55 btn-group" role="group">
                            <a asp-controller="EmployeeManagement" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-success mx-4"> 
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>

                            <a asp-controller="EmployeeManagement" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger mx-4">
                                 <i class="bi bi-trash3-fill"></i> Delete
                            </a>
                      
                    </td>
                    

                </tr>
            }
        </tbody>
    </table>
</div>
